.fer-navbar {

  .fer-search {
    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 12px;
      left: 50%;
      width: 200px;
      margin-left: -100px;
    }

    @include media-breakpoint-up(xl) {
      width: 280px;
      margin-left: -140px;
    }


    .search-button {
      background-color: rgba(0, 0, 0, .1);
      color: #fff;
      width: 100%;
      height: 38px;
      border: 1px solid rgba(255, 255, 255, .4);
      border-radius: 6px;

      &:focus {
        background-color: rgba(0, 0, 0, .25);
      }

      &:focus,
      &:hover {
        border-color: #ffe484;
        box-shadow: 0 0 0 0.25rem rgba(255, 228, 132, 0.4);
        ;
      }

      &:hover,
      &:active,
      &:focus {
        .search-button-icon {
          opacity: 1;
        }

        .search-button-text {
          color: #fff;
        }
      }

      @include media-breakpoint-down(lg) {
        height: 100%;
        background: transparent;
        border: 0;
        box-shadow: none;

        &:hover,
        &:focus {
          background: transparent;
          border: 0;
          box-shadow: none;
        }
      }

      &-icon {
        opacity: .65;
        font-size: 20px;
      }

      &-text {
        display: none;

        @include media-breakpoint-up(lg) {
          display: inline;
          font-style: 1rem;
          padding: 0 12px 0 6px;
          color: rgba(255, 255, 255, 0.65);
        }
      }

      &-keys {
        display: none;

        @include media-breakpoint-up(lg) {
          min-width: 0;
          padding: .125rem .25rem;
          background-color: rgba(0, 0, 0, .25);
          border-radius: 4px;
          display: flex;
        }
      }

      &-key {
        top: 0;
        width: auto;
        height: 1.25rem;
        padding-right: .125rem;
        padding-left: .125rem;
        margin-right: 0;
        font-size: .875rem;
        background: none;
        box-shadow: none;

        align-items: center;
        border: 0;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        position: relative;
        transition-duration: .1s;
        transition-property: all;
        transition-timing-function: cubic-bezier(.4, 0, .2, 1);
        font-size: 8px;

        &-k {
          font-size: 10px;
        }
      }


    }
  }


  // add nav-link class later
  .navbar-toggler {
    color: rgba(255, 255, 255, .85);
    // margin-right: -.5rem;
    border: 0;
    font-size: 24px;

    &:hover,
    &:focus {
      color: #fff;
    }

    &:focus {
      box-shadow: none;
    }
  }

  .navbar-brand {
    width: 40px;
    height: 40px;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: rotate(-5deg) scale(1.1);
    }
  }
}